html 
  head 
    link(rel="stylesheet" type="text/css" href= "/styles/style.css")
  body
    h1
      | Product Finder
    form(action='/search', method='POST')
      input(type="text", id="product", name="product", placeholder="Enter PL Number", class="textbox")
      input(type="submit", value="Submit", class="button")