html 
  head 
    link(rel="stylesheet" type="text/css" href= "/styles/style.css")
  body
    h1
      | Product Finder
    form(action='/search', method='POST')
      label(for="product")
        | Search for Product: 
      input(type="text", id="product", name="product")
      input(type="submit", value="Submit")